body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#message {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 0);
  font-size: 5vh;
  color: white;
  text-shadow: 3px 3px rgba(0,0,0,0.5);
  background: rgba(0,0,0,0.7);
  padding: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  border-radius: 3vh;
  pointer-events: none;
  width: 60%;
  text-align: center;
}

#whoseTurnAvatar {
  transform: translate(0, 1.5vh);
  width: 12vh;
  height: 12vh;
  top: -3vh;
  left: 2vh;
  position: absolute;
  margin-right: 2vh;
  border: 1px solid black;
  border-radius: 100%;
}

#turnColor {
  position: absolute;
  right: 5vh;
  bottom: -1.5vh;
  font-size: 3vh;
  padding-left: 3vh;
  padding-right: 3vh;
  height: 4vh;
  line-height: 4vh;
  border-radius: 3vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.spots {
  background: #141895;
  border: 1px solid #101485;
  color: white;
}

.stripes {
  background-image: linear-gradient(45deg, #ccc 25%, #3D6F8E 25%, #3D6F8E 50%, #ccc 50%, #ccc 75%, #3D6F8E 75%, #3D6F8E 100%);
  border: 1px solid #101485;
  color: white;
  text-shadow: 1px 1px  #000 
}
.yellow {
  background: yellow;
  border: 1px solid darkkhaki;
  color: black;
}

.red {
  content: "Red";
  background: red;
  border: 1px solid darkred;
  color: white;
}

#whoseTurn {
  display: inline-block;
  color: black;
  transform: translate(0, 1.5vh);
  margin-left: 12vh;
}

#shotsLeft {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  font-size: 4vh;
  top: 0;
  right: 3vh;
}

#turn {
  pointer-events: none;
  z-index: 50;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  width: 40%;
  height: 10vh;
  left: 50%;
  padding-right: 5vh;
  padding-left: 5vh;
  border-radius: 3vh;
  font-size: 5vh;
  line-height: 7vh;
  transform: translate(-50%,0);  
}

#thinkBar {
  border: 1px solid black;
  width: 20vh;
  height: 1vh;
  bottom: 1vh;
  position: absolute;
  margin-left: 13vh;
  border-radius: 1vh;
  overflow: hidden
}

#thinkComplete {
  width: 0%;
  height: 1vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8)
}

.turnOff {
  bottom: -20%;
  animation: backgroundSlideOff 0.5s linear
}

.turnOn {
  bottom: 2%;
  animation: backgroundSlideOn 0.5s linear
}

#settingsButton {
  background-image: url(assets/settingsbutton.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 7vh;
  height: 7vh;
  right: 1vh;
  top: 1vh;
  position: absolute;
  z-index: 100;
}

#settings {
  background: rgba(0,0,0,0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

#settingsDialog {
  width: 100vh;
  height: 80vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  background-image: url(assets/popup.png);
  background-size: 100% 100%;
}

#allSettings {
  position: absolute;
  top: 18vh;
  left: 30vh;
  font-size: 5vh;
  color: white;
  text-shadow: 0.5vh 0.5vh black;
}

.label {
  margin-bottom: 0.5vh;
}

#allSettings select {
  font-size: 5vh;
  background-image: url(assets/space.png);
  background-color: transparent;
  border: 0;
  background-size: 100% 100%;
  width: 50vh;
  color: gold;
  padding: 1vh; 
  -webkit-appearance: none;
  outline: 0
}

.setting {
  margin-bottom: 3vh;
}

#closeButton {
  position: absolute;
  width: 8vw;
  height: 8vw;
  right: 2vw;
  top: 5vw;
  font-size: 3vw;
  color: white;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
  background-image: url(assets/exit.png);
  background-size: 100% 100%;
}

@keyframes backgroundSlideOff {
  100% {
    bottom: -20%;
  }
  0% {
    bottom: 2%;
  }
}

@keyframes backgroundSlideOn {
  100% {
    bottom: 2%;
  }
  0% {
    bottom: -20%;
  }
}